SRC_CHAIN_RPC_HTTPS=
DEST_CHAIN_RPC_HTTPS=

# following are required for adding new relayer
# bridge admin private keys
SRC_CHAIN_PRIVATE_KEY=
DEST_CHAIN_PRIVATE_KEY=
# addresses of potential relayers
SRC_NEW_RELAYER_ADDR=
DEST_NEW_RELAYER_ADDR=

# e.g 4 for Rinkeby
SRC_CHAIN_NETWORK_ID=
DEST_CHAIN_NETWORK_ID=

# following are required to register a new token
RESOURCE_ID=
SRC_TOKEN=
TARGET_TOKEN_NAME=
TARGET_TOKEN_SYMBOL=