SRC_CHAIN_NETWORK_ID=
SRC_CHAIN_NAME=
SRC_ADDRESS=
SRC_CHAIN_PRIVATE_KEY=
SRC_TOKEN=
SRC_CHAIN_RPC_HTTPS=
SRC_CHAIN_RPC_WS=

DEST_CHAIN_NETWORK_ID=
DEST_CHAIN_NAME=
DEST_ADDRESS=
DEST_CHAIN_PRIVATE_KEY=
DEST_CHAIN_RPC_HTTPS=
DEST_CHAIN_RPC_WS=

# 32 BYTE HEX string that identifies token on either side of the bridge
RESOURCE_ID=

# Token Name and Symbol that gets deployed on destination chain
TARGET_TOKEN_NAME=
TARGET_TOKEN_SYMBOL=

# in Wei
BRIDGE_TRANSFER_FEE=