SRC_CHAIN_NETWORK_ID=
SRC_CHAIN_NAME=
SRC_ADDRESS=
SRC_CHAIN_PRIVATE_KEY=
SRC_CHAIN_RPC_HTTPS=
SGAS_LIMIT=
SGAS_PRICE=
# multi sig and ws endpoints are optional
SRC_CHAIN_RPC_WS=
SRC_MULTISIG=

DEST_CHAIN_NETWORK_ID=
DEST_CHAIN_NAME=
DEST_ADDRESS=
DEST_CHAIN_PRIVATE_KEY=
DEST_CHAIN_RPC_HTTPS=
DGAS_LIMIT=
DGAS_PRICE=
# multi sig and ws endpoints are optional
DEST_CHAIN_RPC_WS=
DEST_MULTISIG=

# 32 BYTE HEX string that identifies token on either side of the bridge
# Token Name and Symbol that gets deployed on destination chain
SRC_TOKEN=
SRC_DECIMALS=
RESOURCE_ID=
TARGET_TOKEN_NAME=
TARGET_TOKEN_SYMBOL=

# in Wei
BRIDGE_TRANSFER_FEE=